<div id="footer">
	<div class="warp">
		<p>合肥宝尼尔电器有限公司：专业的<a href="http://sc..com">冷柜</a>、<a href="http://sc.chinaz.com">冷藏柜</a>、<a href="http://sc.chinaz.com">保鲜柜</a>、<a href="http://sc.chinaz.com">展示柜</a>、<a href="http://sc.chinaz.com">超市陈列柜</a>等产品供应商。&nbsp;&nbsp;&nbsp;&nbsp;</p>
		<p>业务一部：0592-123456789 / 0592-123456789&nbsp;&nbsp;&nbsp;&nbsp;	业务二部：0592-123456789 / 0592-123456789  </p>
		<p>业务三部：0592-123456789 / 0592-123456789&nbsp;&nbsp;&nbsp;&nbsp;	业务四部：0592- / 0592-  </p>
	</div>
</div>