<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>_post</title>
</head>
<body>
	<h1>_post.html</h1>
	{{post.title}} <br>
	authtor:{{post.author.username}} <br>
	{{post.body|safe}}  <br> <hr>
	<form action="" method="post">
		{{form.hidden_tag()}}
		{{form.body}} <br>
		{{form.submit}}

	</form>


 <span class="label label-primary">
 {{ post.comments.count() }} 条评论
 </span> <br>

{%for i in comments%}
	评论内容：{{i.body}}，时间{{i.timestamp}} <br>
 {%endfor%}
</body>
</html>